@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvido por: @ViewData["Desenvolvedor"]</p>
<adress>
    <strong>Maiores Informações: </strong>
    <a href="mailto:guilhermeroncato@gmail.com">@ViewData["Email"]</a>
</adress>
